{{> ../partials/header.hbs  title="Homepage"}}
  <div>
      <nav class="navbar navbar-default navigation-clean">
          <div class="container">
              <div class="navbar-header"><a class="navbar-brand navbar-link hidden" href="#">#mobile #web #developer #programmer</a>
                  <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              </div>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <p class="navbar-text nav navbar-right">#developer #traveller #hobbyist</p>
                  <ul class="nav navbar-nav">
                      <li role="presentation"><a href="videos.html">VIDEOS </a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </div>
  <div class="highlight-clean">
      <div class="container">
          <div class="intro">
              <h2 class="text-center highlight-h" style="font-family:Arizonia, cursive;font-size:70px;">Marck Regio</h2>
              <p class="text-center highlight-p">I still don't know how. </p>
          </div>
      </div>
  </div>
{{> ../partials/footer.hbs}}
