{{> ../partials/header.hbs  title="My Videos"}}
<div>
    <nav class="navbar navbar-default navigation-clean">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="index.html" style="font-family:Arizonia, cursive;color:#7cb342;font-size:25px;">Marck Regio</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <p class="navbar-text nav navbar-right">#developer #traveller #hobbyist</p>
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="index.html">GO BACK </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="projects-horizontal">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Videos </h2>
            <p class="text-center">#minutevlogs pero yung iba lagpas 1 minute.</p>
        </div>
        <div class="row projects">
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/GlzljycbwjE" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/hmgfgJrglOU" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/TUJj2VwbmxE" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/od9R_HrDZ6c" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/2n0bikmuwiQ" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/62HBv5eQGTk" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/lNAryu863CA" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/PdrempxhFqo" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 item">
                <iframe width="360" height="200" src="https://www.youtube.com/embed/s8gfqbAYUDc" frameborder="1" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{{> ../partials/footer.hbs}}
