<div class="social-icons"><a href="https://www.facebook.com/makregio"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/marckregio"><i class="icon ion-social-twitter"></i></a>
    <a href="https://www.instagram.com/marckregio/"><i class="icon ion-social-instagram"></i></a><a href="https://www.youtube.com/marckregio"><i class="icon ion-social-youtube"></i></a><a href="https://github.com/marckregio"><i class="icon ion-social-github"></i></a></div>
<footer>
    <p class="text-center" style="color:#666">2018 makregio</p>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
</body>
</html>
