<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Architects+Daughter">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Arizonia">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
