<div>
    <nav class="navbar navbar-default navigation-clean">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="index.html" style="font-family:Arizonia, cursive;color:#7cb342;font-size:25px;">Marck Regio</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <p class="navbar-text nav navbar-right">#developer #traveller #hobbyist</p>
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a href="blog.html">BLOG </a></li>
                    <li role="presentation"><a href="apps.html">APPS </a></li>
                    <li role="presentation"><a href="api.html">API </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
